@model List<BlazorApp.Models.Customer>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var customer in Model)
        {
            <tr>
                <td>@customer.ID</td>
                <td>@customer.Name</td>
                <td>@customer.Email</td>
            </tr>
        }
    </tbody>
</table>